html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: Norse;
    src: url('Norse-Bold.otf');
}

a { 
    color: white;
}
.wrapper {
    display: flex;
}

main {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    height: 100vh;
    max-width: 40vw;
    position: relative;
    border: 2px solid red;
}

.banner > img {
    height: 100%;
    width: auto;
    max-width: 100%;
    flex: 1 0;
    overflow: hidden;
    
}

img {
    max-height: 100%;
}

.logo {
    position: absolute;
    display: flex;
    flex: 1;
    height: 10rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: Norse;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 50%);
    
    left: 0;
    top: 25%;
    color: white ;
    justify-content: center;
}

.wrapper .info {
    color: white;
    position: absolute;
    bottom: 2rem;
    left: 30%;
}

.right {
    flex: 2 0; 
    border: 2px solid blue;
    position: relative;
    overflow: visible;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightgray;
    padding: 2rem;
}

.hero {
    flex-direction: column;
    font-weight: 800;
    gap: 2rem;
    margin-bottom: 3rem;
}

.form {
    flex-direction: column;
    background-color: white;
    height: 20rem;
}
.right .wrapper > p > a {
    color: olive;
}